:root {
    --color1: #d0d0ca;
    --color2: #666a6d;
    --color3: #13171B;
    --color4:
}

.conteiner,
.col {
    padding: 3%;
}

h1 {
    font: 40px 'Lobster', cursive;
    color: var(--color1);
}

/* header */
#navbar {
    background: var(--color3);
}

.fa-brands {
    color: var(--color1);
}

.fa-brands:hover {
    color: var(--color2);
}

/* foto */
.dark {
    overflow: hidden;
    transition: filter .3s ease-in-out;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    border: 0;
    border-radius: 0;
}

.img_foto:hover {
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
}

#fotoscr img {
    -webkit-transition: .2s linear;
    transition: .2s linear;

}

#fotoscr img:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

/* logo */
#logotext {
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 2));
}

#logo img {
    filter: drop-shadow(0px 0px 15px rgb(0, 0, 2));
}

.modal-body {
    overflow-y: hidden;
}

.featurette-heading {
    font-size: 40px;
}

/*  Btn  */
.btn {
    font-weight: 500;
    color: azure;
}

#btn_price {
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 2));
    background: rgb(255, 33, 53);
    background: -moz-radial-gradient(circle, rgb(255, 33, 53) 0%, rgba(125, 18, 45, 1) 100%);
    background: -webkit-radial-gradient(circle, rgb(255, 33, 53) 0%, rgba(125, 18, 45, 1) 100%);
    background: radial-gradient(circle, rgba(255, 33, 53, 1) 0%, rgba(125, 18, 45, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2135", endColorstr="#7d122d", GradientType=1);
    border-color: #440918;
}

#btn_price:hover {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 2));
    background: rgb(209, 25, 42);
    background: radial-gradient(circle, rgba(209, 25, 42, 1) 0%, rgba(68, 9, 24, 1) 100%);
    border-color: #440918;
}

#btn_product {
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 2));
    background: rgb(108, 189, 190);
    background: radial-gradient(circle, rgba(108, 189, 190, 1) 0%, rgb(69, 78, 87) 100%);
    border-color: rgba(33, 37, 41, 1);
    
}

#btn_product:hover {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 2));
    background: rgb(108, 189, 190);
    background: radial-gradient(circle, rgba(108, 189, 190, 1) 0%, rgba(33, 37, 41, 1) 100%);
    border-color: rgba(33, 37, 41, 1);
}