:root {
    --color1: #d0d0ca;
    --color2: #686868;
    --color3: #13171B;
}
.conteiner , .col, p {
    padding: 3%;
}
h1{
    font: 40px 'Lobster', cursive;
    color: var(--color1);
}
#navbar{
    background: var(--color3);
}